.App {
  text-align: center;
}

body::-webkit-scrollbar {
  width: 1.25rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  background: url(./imgs/pizza.svg);
}


.Delivery {
  position: relative;
  top: 15px;
  background-color: black;
  color: white;
  padding: 2px 4px;
  font-weight: 600;
  left: 58%;
  width: fit-content;
}

.CartInside {
  background-color: rgb(27, 27, 27);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  width: 400px;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.CartAmountSpan {
  position: absolute;
  top: 40px;
  left: 30.5px;
  background: #fcff00;
  color: black;
  /* padding: 2px; */
  height: 23px;
  width: 23px;
  border-radius: 60px;

}

.pizzaSize::after {
  content: "|";
}

.closedCartIcon {
  position: fixed;
  top: 10px;
  right: 0px;
  background: black;
  border-radius: 15px 0px 0px 15px;
}

.openCartIcon {
  position: relative;
  right: 384px;
  background: black;
  padding: 5px 8px;
  border-radius: 15px 0 0 15px;

}

.finalPrice {
  margin: 15px;
  position: fixed;
  bottom: 15px;
  right: 150px;
}

@media screen and (max-width: 480px) {
  .openCartIcon {
    right: 0;
    z-index: 1000;
    background: none;
    border-radius: unset;
  }
  .finalPrice {
    right: 50px;
  }
}